.recipe-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  overflow: hidden;
}
.recipe-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.recipe-item__image-wrapper {
  height: 100%;
  overflow: hidden;
}
.recipe-item__image {
  transition: all 0.5s;
}
.recipe-item:hover .recipe-item__image {
  transform: scale(1.1);
}
.recipe-item__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.recipe-item__info {
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  position: relative;
}
.recipe-item__info {
  margin: 0;
}
.recipe-item__title::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 0;
  background-color: var(--grey);
  transform: scaleX(0);
  transition: all 0.2s;
}
.recipe-item:hover .recipe-item__title::before {
  transform: scaleY(1);
  width: 100%;
}
.recipe-item:hover .recipe-item__title--full {
  display: block;
}
.recipe-item:hover .recipe-item__title--formatted {
  display: none;
}
.recipe-item__title {
  justify-self: stretch;

  position: relative;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 100;
}
.recipe-item__title--full {
  display: none;
}
.recipe-item__title::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--dark-grey);
  transform: scaleX(0);
}
.recipe-item__difficulty,
.recipe-item__rating {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 0.9;
}
.recipe-item__difficulty {
  padding: 1rem;
  left: 5px;
  text-transform: uppercase;
}
.recipe-item__rating {
  min-width: 4rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  right: 5px;
}
.rating-red,
.difficulty-red {
  background-color: crimson;
}
.rating-yellow,
.difficulty-yellow {
  background-color: var(--yellow);
}
.rating-green,
.difficulty-green {
  background-color: var(--dark-green);
}
@media (max-width: 467px) {
  .recipe-item {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

/**********************************
*********  Recipe loading  ********
***********************************/
.recipe-item-loading__image {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 0;
}
.recipe-item-loading__image img {
  width: 50%;
}
.recipe-item-loading__info {
  justify-self: stretch;
  display: grid;
  padding: 1rem;
}
.recipe-item-loading__description {
  width: 100%;
  height: 14rem;
  background-color: var(--grey);
  border-radius: 15px;
}
