@import '../../mixins.scss';

.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 5rem;
  padding-top: 3rem;
  margin: 2rem 15rem;

  @include large-desktop {
    margin: 2rem 10rem;
  }

  @include big-desktop {
    grid-template-columns: 1fr;
    margin: 2rem 5rem;
  }

  @include mobile {
    margin: 2rem 1rem;
  }
}
